<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script th:src="@{/js/jquery-1.12.4.js}"></script>
	</head>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" th:href="@{/layui/css/layui.css}"  media="all">

	<form action="queryAll" id="form">
		<div id="chanpin1">
			<table class="layui-table"  border="1 solid black" cellspacing="0" width="100%" align="center">
				<tr>
					<td align="right"><span>产品代码:</span></td>
					<td><input type="text" name="ProductCode"  placeholder="输入文本" autocomplete="off" class="layui-input"> </td>
					<td align="right"><span>产品名称:</span></td>
					<td><input type="text" name="ProductName"  placeholder="输入文本" autocomplete="off" class="layui-input"> </td>
				</tr>





			</table>
		</div>
		<div align="center">
			<button type="submit" class="layui-btn layui-btn-normal layui-btn-radius">查询</button>
			<button type="reset" class="layui-btn layui-btn-radius">重置</button>
			<br/>
			<br/>
		</div>
		<input name="pageNum" th:value="${page.pageNum}" type="hidden"/><!--//第几页-->
		<input name="total" th:value="${page.total}" type="hidden"/><!--//一共多少行数据-->
	</form>

	<button type="button" class="layui-btn layui-btn-warm layui-btn-radius" onclick="window.location.href='toAddProduct'">新建</button>




			<div>
				<table class="layui-table" border="1 solid black" cellspacing="0" width="100%" align="center">
					<tr>

						<td>操作</td>
						<td>项目类型</td>
						<td>产品分类</td>
						<td>产品代码</td>
						<td>产品名称</td>
						<td>销售渠道</td>
						<td>收益类型</td>
						<td>产品风险等级</td>
						<td>产品经理A</td>
						<td>产品经理B</td>
						<td>运营经理A</td>
						<td>运营经理B</td>
					</tr>
					<tr th:each="product:${page.list}" th:object="${product}">
						<td>
							<a th:href="@{toUpdateProduct(ProductId=*{ProductID})}" >
								<i class="layui-icon"></i>
							</a>
							<a id="deletesheet">
								<i class="layui-icon"></i>
							</a>
						</td>


						<td th:text="*{ItemID.ItemtypeID.ItemTypeName}"></td>
						<td th:text="*{ProductClassificationID.ProductClassificationName}"></td>
						<td th:text="*{ProductCode}"></td>
						<td th:text="*{ProductName}"></td>
						<td th:text="*{Distributionchannel}"></td>
						<td th:text="*{Incometype.IncomeTypeName}"></td>
						<td th:text="*{ProductRiskLevel}"></td>
						<td th:text="*{ItemID.ProductManagerA}"></td>
						<td th:text="*{ItemID.ProductManagerB}"></td>
						<td th:text="*{OperationsManagerA}"></td>
						<td th:text="*{OperationsManagerB}"></td>
					</tr>
				</table>
				<div id="demo7" align="center"></div>


			</div>

		</div>
	<script th:src="@{/layui/layui.js}"></script>
	<!--<script type="text/javascript">
		$(function () {
		    var proanniu=$("input[name='proanniu']").val();
		    console.log(proanniu);
			$("#anniu").click(function () {
				location.href="toUpdateProduct?ProductId="+proanniu;
            })
        })

	</script>-->
	<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
	<script>
        var total=0;
        var pageNum=0;
        $(function(){
            var data = $("#form").serialize();
            total=$("[name='total']").val();
            pageNum=$("[name='pageNum']").val();
            layui.use([ 'laypage', 'layer' ], function() {
                var laypage = layui.laypage, layer = layui.layer;
                laypage.render({
                    elem : 'demo7',
                    count : total
                    ,curr: pageNum,
                    limit:2//每页几个,需要修改
                    ,
                    layout : [ 'count', 'prev', 'page', 'next',  'refresh',
                        'skip', ],
                    jump : function(obj,first) {
                        //console.log(obj)
                        if(!first){
                            //do something
                            $("[name='pageNum']").val(obj.curr);
                            $("#form").attr("action","queryAll?"+data).submit();
                        }
                    }
                });
            });
        });

	</script>
        </body>

</html>
