<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tcmp.Project.mapper.ItemSheetMapper">
    <resultMap id="IntemsMap" type="Item_sheet" autoMapping="true">
        <id column="ItemID" property="ItemID" />
        <association property="ItemtypeID" resultMap="ItemttMap"/>
        <association property="ProductclassificationID"  resultMap="proMap"/>
        <association property="ChanneltableID" resultMap="Channel_listMap"/>
        <!--<association property="ChannelTableID"  resultMap="Channel_listMap"/>
        <association property="ChannelTableID"  resultMap="Channel_listMap"/>
        <association property="ChannelTableID"  resultMap="Channel_listMap"/>-->

    </resultMap>

    <resultMap id="proMap" type="Product_classification_table" autoMapping="true">
        <id column="ProductClassificationID" property="ProductClassificationID"/>
    </resultMap>

    <resultMap id="ItemttMap" type="Item_type_table" autoMapping="true">
        <id column="ItemTypeID" property="ItemTypeID"/>
    </resultMap>

    <resultMap id="Channel_listMap" type="Channel_list" autoMapping="true">
        <id property="ID" column="ChannelID" />
        <association column="ChanneltypeID" property="ChanneltypeID" javaType="Channel_type">
            <id column="ChannelTypeID" property="ChannelTypeID"/>
            <result column="ChannelTypeName" property="ChannelTypeName"/>
        </association>
    </resultMap>

    <select id="queryAllItem_sheet" resultMap="IntemsMap" parameterType="Item_sheet">
        SELECT * FROM product.item_sheet s,item_type_table it,product_classification_table p,channel_list c,channel_type ct
        WHERE s.ItemTypeID=it.ItemTypeID AND ct.ChannelTypeID=c.ChanneltypeID
        AND s.ProductClassificationID=p.ProductClassificationID
        AND s.ChannelTableID=c.ChannelID
        <if test="Projectcode!=null and Projectcode!=''">
            AND s.ProjectCode=#{Projectcode}
        </if>
        <if test="Entryname!=null and Entryname!=''">
            AND s.EntryName=#{Entryname}
        </if>
        <if test="ProductclassificationID.ProductClassificationID!=null and ProductclassificationID.ProductClassificationID!=''">
            AND p.ProductClassificationID=#{ProductclassificationID.ProductClassificationID}
        </if>
        <if test="ItemtypeID.ItemTypeID!=null and ItemtypeID.ItemTypeID!=''">
            AND it.ItemTypeID=#{ItemtypeID.ItemTypeID}
        </if>
        <if test="Dateofestablishment!=null and Dateofestablishment!=''">
            AND s.DateOfEstablishment=#{Dateofestablishment}
        </if>
        <if test="MaturityDate!=null and MaturityDate!=''">
            AND s.MaturityDate=#{MaturityDate}
        </if>
        <if test="ChanneltableID.ID!=null and ChanneltableID.ID!=''">
            AND c.ChannelID=#{ChanneltableID.ID}
        </if>
    </select>
    <select id="queryAllProduct" resultMap="proMap">
        SELECT * FROM product_classification_table
    </select>
    <select id="queryAllItem_type_table" resultMap="ItemttMap">
        SELECT * FROM item_type_table
    </select>
    <select id="queryAllChannel_list" resultMap="Channel_listMap">
        SELECT * FROM channel_list
    </select>
</mapper>