<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}"  media="all">

</head>
<body>
<div style="padding: 20px; background-color: #F2F2F2;">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">查看渠道详情</div>
                <div class="layui-card-body" align="center">
                    <span>公司信息</span>
                    <table border="1" class="layui-table">
                        <tr>
                            <td>渠道类型</td>
                            <td></td>
                            <td>名称</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>介绍</td>
                            <td></td>
                            <td>联系人名称</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>联系人电话</td>
                            <td></td>
                            <td>联系人电子邮箱</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>证件类型</td>
                            <td></td>
                            <td>证件号码</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>附件</td>
                            <td colspan="3"><a href="">图片..........</a></td>
                        </tr>
                    </table>
                    <span>公司信息</span>
                    <table border="1" class="layui-table">
                        <tr>
                            <th>部门名称</th>
                            <th>部门联系人</th>
                            <th>部门介绍人</th>
                            <th>部门介绍</th>
                        </tr>
                        <tr>
                            <td>XXXX</td>
                            <td>XXXX</td>
                            <td>XXXX</td>
                            <td>XXXX</td>
                        </tr>
                    </table>
                    <button type="button" class="layui-btn layui-btn-normal layui-btn-radius">修改</button>
                    <button type="button" class="layui-btn layui-btn-danger layui-btn-radius">删除</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>