<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}"  media="all">
    <script th:src="@{/js/jquery-1.12.4.js}" type="text/javascript"></script>
</head>
<body>
<div style="padding: 20px; background-color: #F2F2F2;">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">创建渠道</div>
                <div class="layui-card-body" align="center">
                    <form action="">
                        <table border="1" class="layui-table">
                            <tr>
                                <td>渠道类型</td>
                                <td>
                                    <select name="chaId" class="layui-select">
                                        <option disabled selected id="QingXuanZe">---请选择---</option>
                                        <option th:each="dict : ${type}" th:value="${dict.ChannelTypeID}" th:text="${dict.ChannelTypeName }">
                                    </select>
                                </td>
                                <td>名称</td>
                                <td>
                                    <input type="text" name="Corporatename" required  lay-verify="required" placeholder="请输入名称" autocomplete="off" class="layui-input">
                                </td>
                            </tr>
                            <tr>
                                <td>介绍</td>
                                <td>
                                    <input type="text" name="introduce" required  lay-verify="required" placeholder="请输入介绍" autocomplete="off" class="layui-input">
                                </td>
                                <td>联系人名称</td>
                                <td>
                                    <input type="text" name="ContactName" required  lay-verify="required" placeholder="请输入联系人名称" autocomplete="off" class="layui-input">
                                </td>
                            </tr>
                            <tr>
                                <td>联系人电话</td>
                                <td>
                                    <input type="tel" name="Contacttelephone" lay-verify="required|phone" placeholder="请输入联系人电话" autocomplete="off" class="layui-input">
                                </td>
                                <td>联系人电子邮箱</td>
                                <td>
                                    <input type="text" name="ContactEmail" lay-verify="email" placeholder="请输入联系人电子邮箱" autocomplete="off" class="layui-input">
                                </td>
                            </tr>
                            <tr>
                                <td>证件类型</td>
                                <td>
                                        <select name="Documenttype" class="layui-select">
                                            <option value="0">---请选择---</option>
                                            <option value="身份证">身份证</option>
                                            <option value="军官证">军官证</option>
                                        </select>
                                </td>
                                <td>证件号码</td>
                                <td>
                                    <input type="text" name="IdentificationNumber" lay-verify="identity" placeholder="请输入证件号码" autocomplete="off" class="layui-input">
                                </td>
                            </tr>
                            <tr>
                                <td>附件</td>
                                <td colspan="3">
                                    <div class="form-group">
                                        <div class="label">
                                            <label>图片：</label>
                                        </div>
                                        <div class="field">
                                            <input type="hidden" name="tupianurl" class="input tips" style="width:25%; float:left;"  value="" data-toggle="hover" data-place="right" data-image="" />
                                            <div id="uploader-demo" class="wu-example">
                                                <!--用来存放item-->
                                                <div id="fileList" class="uploader-list"></div>
                                                <div id="filePicker" class="webuploader-container">选择图片</div>
                                            </div>

                                        </div>
                                        <br>
                                        <!--dom结构部分-->
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </form>
                    <button type="button" class="layui-btn layui-btn-warm layui-btn-radius">新建</button>
                    <table border="1" class="layui-table">
                        <tr>
                            <th>操作</th>
                            <th>部门名称</th>
                            <th>部门联系人</th>
                            <th>部门介绍人</th>
                            <th>部门介绍</th>
                        </tr>
                        <tr>
                            <td>
                                <a href="">修改</a>
                                <a href="">删除</a>
                            </td>
                            <td>XXXX</td>
                            <td>XXXX</td>
                            <td>XXXX</td>
                            <td>XXXX</td>
                        </tr>
                    </table>
                    <input name="pageNumber" th:value="1" type="hidden"/><!--//第几页-->
                    <input name="total" th:value="40" type="hidden"/><!--//一共多少行数据-->
                    <center><div id="demo7"></div></center>
                    <button class="layui-btn layui-btn-normal layui-btn-radius" lay-submit="" lay-filter="demo1">确定</button>
                    <button type="button" class="layui-btn layui-btn-danger layui-btn-radius" onclick="window.history.go(-1)">取消</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/layui/layui.js}" type="text/javascript" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
    var total=0;
    var pageNum=0;
    $(function(){
        total=$("[name='total']").val();
        pageNum=$("[name='pageNumer']").val();
        layui.use([ 'laypage', 'layer' ], function() {
            var laypage = layui.laypage, layer = layui.layer;
            laypage.render({
                elem : 'demo7',
                count : total
                ,curr: pageNum,
                limit:2//每页几个,需要修改
                ,
                layout : [ 'count', 'prev', 'page', 'next',  'refresh',
                    'skip', ],
                jump : function(obj,first) {
                    //console.log(obj)
                    if(!first){
                        //do something
                        $("[name='pageNumber']").val(obj.curr);
                        $("form").submit();
                    }
                }
            });
        });
    });
    $(function() {
        var tpMsp="${tpMsp}";
        if(tpMsp>0){
            alert("添加图片成功");
        }
        //初始化Web Uploader
        var uploader = WebUploader.create({

            // 选完文件后，是否自动上传。
            auto : true,

            // swf文件路径
            swf : '../../Up/Uploader.swf',

            // 文件接收服务端。
            server : 'fileController',

            // 选择文件的按钮。可选。
            // 内部根据当前运行是创建，可能是input元素，也可能是flash.
            pick : '#filePicker',

            // 只允许选择图片文件。
            accept : {
                title : 'Images',
                extensions : 'gif,jpg,jpeg,bmp,png',
                mimeTypes : 'image/*'
            }
        });

        uploader
            .on(
                'fileQueued',
                function(file) {
                    var $list = $("#fileList");
                    var $li = $('<div id="' + file.id + '" class="file-item thumbnail">'
                        + '<img>'), $img = $li.find('img');

                    // $list为容器jQuery实例
                    $list.append($li);

                    // 创建缩略图
                    // 如果为非图片文件，可以不用调用此方法。
                    // thumbnailWidth x thumbnailHeight 为 100 x 100
                    uploader.makeThumb(file, function(error, src) {
                        if (error) {
                            $img.replaceWith('<span>不能预览</span>');
                            return;
                        }
                        $img.attr('src', src);
                    }, 150, 150);
                });

        uploader
            .on(
                'uploadProgress',
                function(file, percentage) {
                    var $li = $('#' + file.id), $percent = $li
                        .find('.progress .progress-bar');

                    // 避免重复创建
                    if (!$percent.length) {
                        $percent = $(
                            '<div class="progress progress-striped active">'
                            + '<div class="progress-bar" role="progressbar" style="width: 0%">'
                            + '</div>' + '</div>')
                            .appendTo($li).find('.progress-bar');
                    }

                    $li.find('p.state').text('上传中');
                    $percent.css('width', percentage * 100 + '%');
                });

        uploader.on('uploadSuccess', function(file) {
            $('#' + file.id).find('p.state').text('已上传');
        });

        uploader.on('uploadError', function(file) {
            $('#' + file.id).find('p.state').text('上传出错');
        });

        uploader.on('uploadComplete', function(file) {
            $('#' + file.id).find('.progress').fadeOut();
        });

        uploader.on('uploadSuccess', function(file, response) {
            $('#' + file.id).addClass('upload-state-done');
            var imgurl = response._raw; //上传文件的路径
            $("#tupianurl").val(imgurl);
        });

        $("#ctlBtn").click(function() {
            uploader.upload();
        });

    })
</script>
</body>
</html>