<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.tcmp.Channel.mapper.Channel_Type_Mapper">
    <resultMap id="listMap" type="cn.tcmp.entity.Channel_list" autoMapping="true">
        <id property="ChannelID" column="ChannelID"></id>
        <collection property="ChanneltypeID" resultMap="ctMap"></collection>
    </resultMap>
    <resultMap id="ctMap" type="cn.tcmp.entity.Channel_Type" autoMapping="true">
        <id property="ChannelTypeID" column="ChannelTypeID"></id>
    </resultMap>


    <!--查询所有的渠道类型-->
    <select id="queryAllChannelType" resultType="cn.tcmp.entity.Channel_Type">
        SELECT * FROM `channel_type`
    </select>
    <!--模糊查询渠道-->
    <select id="queryAllChannelList" parameterType="cn.tcmp.entity.Channel_list" resultMap="listMap">
        SELECT * FROM channel_list cl , channel_type ct
        WHERE cl.`ChanneltypeID` = ct.`ChannelTypeID`
        <if test="Corporatename != null">
            AND cl.CorporateName LIKE CONCAT('%',#{Corporatename},'%')
        </if>
        <if test="chaId != null and chaId != ''">
            AND cl.`ChanneltypeID` = #{chaId}
        </if>

    </select>
    <!--查询单个渠道的详情信息-->
    <select id="queryDetailChannelList" parameterType="int" resultMap="listMap">
        SELECT * FROM channel_list cl , channel_type ct
        WHERE cl.`ChanneltypeID` = ct.`ChannelTypeID`
        AND cl.`ChannelID` = #{id}
    </select>
    <!--查询该渠道(公司)下的部门-->
    <select id="queryCompany" parameterType="int" resultType="cn.tcmp.entity.Company_departments_list">
        SELECT * FROM company_departments_list WHERE CompanyID = #{id}
    </select>
    <!--查询单个部门信息-->
    <select id="queryCompanyById" parameterType="int" resultType="cn.tcmp.entity.Company_departments_list">
        SELECT * FROM company_departments_list WHERE DepartmentID = #{id}
    </select>
    <!--新建渠道公司-->
    <insert id="addChannel" parameterType="cn.tcmp.entity.Channel_list" useGeneratedKeys="true" keyProperty="ChannelID">
        INSERT INTO `channel_list`(ChanneltypeID,CorporateName,introduce,ContactName,ContactTelephone,ContactEmail,DocumentType,IdentificationNumber,Enclosure,CreationDate)
        VALUES(#{chaId},#{Corporatename},#{introduce},#{ContactName},#{Contacttelephone},#{ContactEmail},#{Documenttype},#{IdentificationNumber},#{Enclosure},NOW())
    </insert>
    <!--新增部门信息-->
    <insert id="addCompanyDepartmentsList" parameterType="cn.tcmp.entity.Company_departments_list">
        INSERT INTO `company_departments_list`(CompanyID,DepartmentName,DepartmentalContacts,IntroductionOfDepartmentalContacts,DepartmentalIntroduction)
        VALUES(#{comId},#{Departmentname},#{DepartmentalContacts},#{IntroductionofDepartmentalContacts},#{DepartmentalIntroduction})
    </insert>
    <!--修改渠道公司信息-->
    <update id="updateChannel" parameterType="cn.tcmp.entity.Channel_list">
        UPDATE `channel_list` set
        <if test="chaId != null and chaId !=  ''">
            ChanneltypeID = #{chaId} ,
        </if>
        <if test="Corporatename != null and Corporatename != ''">
            CorporateName = #{Corporatename},
        </if>
        <if test="introduce != null and introduce != ''">
            introduce = #{introduce},
        </if>
        <if test="ContactName != null and ContactName != ''">
            ContactName = #{ContactName},
        </if>
        <if test="Contacttelephone != null and Contacttelephone != ''">
            Contacttelephone = #{Contacttelephone},
        </if>
        <if test="ContactEmail != null and ContactEmail != ''">
            ContactEmail = #{ContactEmail},
        </if>
        <if test="dt != null and dt != ''">
            Documenttype = #{dt},
        </if>
        <if test="IdentificationNumber != null and IdentificationNumber != ''">
            IdentificationNumber = #{IdentificationNumber},
        </if>
        <if test="Enclosure != null and Enclosure != ''">
            Enclosure = #{Enclosure}
        </if>
        where ChannelID = #{ChannelID}
    </update>
    <!--修改部门信息-->
    <update id="updateCompany" parameterType="cn.tcmp.entity.Company_departments_list">
        UPDATE Company_departments_list set
        <if test="Departmentname != null and Departmentname != ''">
            Departmentname = #{Departmentname},
        </if>
        <if test="DepartmentalContacts != null and DepartmentalContacts != ''">
            DepartmentalContacts = #{DepartmentalContacts},
        </if>
        <if test="IntroductionofDepartmentalContacts != null and IntroductionofDepartmentalContacts != ''">
            IntroductionofDepartmentalContacts = #{IntroductionofDepartmentalContacts},
        </if>
        <if test="DepartmentalIntroduction != null and DepartmentalIntroduction != ''">
            DepartmentalIntroduction = #{DepartmentalIntroduction}
        </if>
        where DepartmentID = #{DepartmentID}
    </update>
    <!--删除公司-->
    <delete id="deleteChannel" parameterType="int">
        delete from  channel_list where ChannelID = #{id}
    </delete>
    <!--删除部门-->
    <delete id="deleteCompany" parameterType="int">
        delete from  company_departments_list where DepartmentID = #{id}
    </delete>

</mapper>
