<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.tcmp.Channel.mapper.Channel_Type_Mapper">
    <!--查询所有的渠道类型-->
    <select id="queryAllChannelType" resultType="cn.tcmp.entity.Channel_Type">
        SELECT * FROM `channel_type`
    </select>
</mapper>
